.cards-container {
  display: flex;
  height: auto;
  flex-wrap: wrap;
}
.cards-wrapper {
  display: flex;
  width: auto;
  max-width: 20%;
}

/* *********CARDITEM******************************************888 */

.card-item {
  position: relative;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.card-img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.card-img:hover {
  transform: scale(1.1);
}

.card-link {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
  }

  .cards-wrapper {
    display: -ms-flexbox;
    display: flex;
    width: auto;
    /* max-width: 20%; */
  }
}
